<div class="row">
  <section class="col-lg-12 connectedSortable">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="input-group col-md-4">
            <select class="form-control custom-select" id="employeeId" name="employeeId" (change)="refreshBySelectChange()"
                    [(ngModel)]="employeeId">
              <option selected>All</option>
              <option [ngValue]="data.EmpId">My</option>
              <ng-container *ngIf="data.isUserOfficer">
                <option *ngFor="let e of employees" [attr.disabled]="1!=1 ? '' : null" [ngValue]="e.id">
                  {{e.firstName + ' ' + e.secondName + ' ' + e.lastName}}
                </option>
              </ng-container>
            </select>
            <div class="input-group-prepend">
              <span class="input-group-text">Permissions</span>
            </div>
            <!--<h3 class=""> Leaves</h3>-->
          </div>
        </div>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <!--<button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>-->
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive">
        <table id="tblItems" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
               class="table table-bordered table-hover table-valign-middle">
          <thead>
            <tr>
              <!--01-->
              <th style="display:none">Id</th>
              <!--02-->
              <th>Requested At</th>
              <!--03-->
              <th>Scheduled time</th>
              <!--04-->
              <th>Scheduled day</th>
              <!--06-->
              <th>Type</th>
              <!--09-->
              <th>Review</th>
              <!--00--><!--<th *ngif="1!=1">Reject Review Reason</th>-->
              <!--10-->
              <th>Approve</th>
              <!--00--><!--<th *ngif="1!=1">Reject Approval Reason</th>-->
              <!--11-->
              <th>Notes</th>
              <!--12-->
              <th><a href="javascript:void(0)">...</a></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let permission of permissions">
              <!--01-->
              <td style="display:none"><span class="{{permission.id}}">{{ permission.id }}</span></td>
              <!--02-->
              <td>{{ permission.createdDate | date:'dd/MM/yyyy hh:mm:ss a'}}</td>
              <!--03-->
              <td>
                <span class="view {{permission.id}}">{{ permission.scheduledTime}}</span>
                <input id="{{'im_'+permission.id}}" [(ngModel)]="permission.scheduledTime" class="form-control edit {{permission.id}}" type="text" style="display: none;" />
              </td>
              <!--04-->
              <td>
                <span class="view {{permission.id}}">{{ permission.scheduledDay | date:'dd/MM/yyyy'}}</span>
                <input id="{{'im_'+permission.id}}" [(ngModel)]="permission.scheduledDay" class="form-control edit {{permission.id}}" type="text" style="display: none;" />
              </td>
              <!--06-->
              <td>
                <span class="view {{permission.id}}">{{ lookupSrv.getEntityVal(permission.permissionTypeId,permissionsTypes) }}</span>
                <select id="{{'im_'+permission.id}}" [(ngModel)]="permission.permissionTypeId" class="form-control custom-select edit {{permission.id}}" style="display: none;">
                  <option *ngFor="let e of permissionsTypes" value="{{e.id}}">
                    {{e.name}}
                  </option>
                </select>
              </td>
              <!--09-->
              <td>{{permission.reviewDecision|decision}}</td>
              <!--<td *ngif="1==1">{{permission.reviewRejectReason}}</td>-->
              <!--10-->
              <td>{{permission.approvalDecision|decision}}</td>
              <!--<td *ngif="1==1">{{permission.approvalRejectReason}}</td>-->
              <!--11-->
            <td>{{permission.notes}}</td>
              <!--12-->
              <td>
                <a href="javascript:void(0)" (click)="openEdit(permission.id)"
                   class="btn btn-primary btn-sm view {{permission.id}}">
                  <i class="fa fa-edit"></i>
                  Edit
                </a>
                <a href="javascript:void(0)" (click)="updatePermission(permission)"
                   class="btn btn-success btn-sm edit {{permission.id}}" style="display: none;">
                  <i class="fa fa-save"></i>
                  Save
                </a>&nbsp;
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">

      </div>
      <!-- /.card-footer-->
    </div>
  </section>
  <!-- /.col-md-6 -->
</div>
