<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    <!-- Navbar -->
    <app-nav></app-nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <app-main-sidbar></app-main-sidbar>

    <!-- Content Wrapper. Contains page content -->
    <router-outlet></router-outlet>
    <!--<app-content-wrapper></app-content-wrapper>-->
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <app-control-sidbar></app-control-sidbar>
    <!-- /.control-sidebar -->
    <!-- Main Footer -->
    <app-footer></app-footer>
  </div>
  <!-- ./wrapper -->

</body>