<div class="table-responsive">
  <table id="tblItems" datatable
         class="table table-bordered table-hover table-valign-middle">
    <thead>
      <tr>
        <!--01-->
        <th style="display:none">Id</th>
        <!--02-->
        <th>Requested At</th>
        <!--03-->
        <th>Start</th>
        <!--04-->
        <th>End</th>
        <!--05-->
        <th># of days</th>
        <!--06-->
        <th>Type</th>
        <!--07-->
        <th>Actual Start</th>
        <!--08-->
        <th>Actual End</th>
        <!--09-->
        <th>Review</th>
        <!--00--><!--<th *ngif="1!=1">Reject Review Reason</th>-->
        <!--10-->
        <th>Approve</th>
        <!--00--><!--<th *ngif="1!=1">Reject Approval Reason</th>-->
        <!--11-->
        <th>Notes</th>
        <!--12-->
        <th><a href="javascript:void(0)">...</a></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
