<div class="row">
  <section class="col-lg-12 connectedSortable">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Approve {{title}}s</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <!--<button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>-->
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive">
        <table id="tblItems" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
               class="table table-bordered table-hover table-valign-middle">
          <thead>
            <tr>
              <th style="display:none">Id</th>
              <th>Requested At</th>
              <!--<th>Emp Code</th>-->
              <th>From</th>
              <th>With</th>
              <th>Scheduled Time</th>
              <th>Scheduled Day</th>
              <th>Type</th>
              <th>Accepted by</th>
              <th>Accepted at</th>
              <th>Notes</th>
              <th><a href="javascript:void(0)">...</a></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of elements">
              <td style="display:none"><span class="{{element.id}}">{{ element.id }}</span></td>
              <td>{{element.createdDate | date:'dd/MM/yyyy hh:mm:ss a'}}</td>
              <!--<td>{{element.employee.empCode}}</td>-->
              <td>{{element.employee.firstName + ' ' + element.employee.secondName + ' ' + element.employee.lastName}}</td>
              <td>{{element.employeeSwapped.firstName + ' ' + element.employeeSwapped.secondName + ' ' + element.employeeSwapped.lastName}}</td>
              <td>
                <span class="view {{element.id}}">{{ element.scheduledTime }}</span>
                <input id="{{'im_'+element.id}}" [(ngModel)]="element.scheduledTime" class="form-control edit {{element.id}}" type="text" style="display: none;" />
              </td>
              <td>
                <span class="view {{element.id}}">{{ element.scheduledDay | date:'dd/MM/yyyy'}}</span>
                <input id="{{'im_'+element.id}}" [(ngModel)]="element.scheduledDay" class="form-control edit {{element.id}}" type="text" style="display: none;" />
              </td>
              <td>
                <span class="view {{element.id}}">{{ lookupSrv.getEntityVal(element.swapTypeId,elementsTypes) }}</span>
                <select id="{{'im_'+element.id}}" [(ngModel)]="element.swapTypeId" class="form-control custom-select edit {{element.id}}" style="display: none;">
                  <option *ngFor="let e of elementsTypes" value="{{e.id}}">
                    {{e.name}}
                  </option>
                </select>
              </td>
              <td>{{element.accepter.firstName + ' ' + element.accepter.secondName + ' ' + element.accepter.lastName}}</td>
              <td>{{element.acceptDate | date:'dd/MM/yyyy hh:mm:ss a'}}</td>
              <td>{{element.notes}}</td>
              <td>
                <a href="javascript:void(0)" (click)="openM(content,element.id,element.approvalDecision,element.approvalRejectReason)"
                   class="btn btn-primary btn-sm view {{element.id}}">
                  <i class="fa fa-edit"></i>
                  Approve
                </a>
                <a href="javascript:void(0)" (click)="updateElement(element)"
                   class="btn btn-success btn-sm edit {{element.id}}" style="display: none;">
                  <i class="fa fa-save"></i>
                  Save
                </a>&nbsp;
                <input class="custom-control-input" type="checkbox" name="my-checkbox" data-bootstrap-switch data-off-color="danger" data-on-color="success">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
      </div>
      <!-- /.card-footer-->
    </div>
  </section>
  <!-- /.col-md-6 -->
</div>
<div style="display:none">
  <div id="dvReview">
    <label>{{elementId}}</label>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Approve {{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form>
      <input type="hidden" value="{{elementId}}" />
      <div class="form-group">
        <label for="review">Accept/Reject</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" checked name="decision" data-bootstrap-switch [(ngModel)]="decision" />
            </div>
          </div>
          <input id="approve" class="form-control" placeholder="Reason" name="reason" [(ngModel)]="reason">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!--modal.close('Save click')-->
    <button type="button" class="btn btn-outline-dark" (click)="approveElement()">Save</button>
  </div>
</ng-template>
