<div class="row">
  <section class="col-lg-12 connectedSortable">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="input-group col-md-4">
            <h3>View KPI for </h3>
            <div class="input-group-prepend">
              <span class="input-group-text">
              </span>
            </div>
            <!--<h3 class=""> Leaves</h3>-->
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary">Add new KPI</button>
          </div>
        </div>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <!--<button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>-->
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <select>
          <option value="01">JAN</option>
          <option value="02">FEB</option>
          <option value="03">MAR</option>
          <option value="04">APR</option>
          <option value="05">MAY</option>
          <option value="06">JUN</option>
          <option value="07">JUL</option>
          <option value="08">AUG</option>
          <option value="09">SEP</option>
          <option value="10">OCT</option>
          <option value="11">NOV</option>
          <option value="12">DEC</option>
        </select>
        <select>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
        </select>
        <div style="display:flex">
          <p>KPI for .</p>
          <select>
            <option value="-1">ALL</option>
            <option value="1">HR</option>
            <option value="2">IT</option>
            <option value="3">Call Center</option>
            <option value="4">Quality</option>
            <option value="5">Voice</option>
            <option value="6">Marketing</option>
          </select>
          <p>Employees</p>
        </div>
      </div>
      <app-view></app-view>
      <!-- /.card-body -->
      <div class="card-footer">

      </div>
      <!-- /.card-footer-->
    </div>
  </section>
  <!-- /.col-md-6 -->
</div>
