<div class="container">
    <form [formGroup]="addDriver" *ngIf="showDriverDetails">
        <div class="mb-3">
            <label for="name" class="form-label">اسم السائق</label>
            <input type="text" name="name" formControlName="name" class="form-control" id="name"
                placeholder="ادخل اسم السائق">
            <div *ngIf="addDriver.controls.name.errors?.['required']" class="text-red">
                ادخل اسم السائق
            </div>
            <div *ngIf="addDriver.controls.name.errors?.['minlength']" class="text-red">
                ادخل أكثر من 3 حروف
            </div>
        </div>
        <div class="mb-3">
            <label for="userName" class="form-label">اسم المستخدم</label>
            <input type="text" name="userName" formControlName="userName" class="form-control" id="userName"
                placeholder="اسم المستخدم للسائق">
            <div *ngIf="addDriver.controls.userName.errors?.['required']" class="text-red">
                ادخل اسم المستخدم
            </div>
            <div *ngIf="addDriver.controls.userName.errors?.['minlength']" class="text-red">
                ادخل اكثر من 3 حروف
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">كلمة السر</label>
            <input type="password" name="password" formControlName="password" class="form-control" id="password"
                placeholder="ادخل كلمة السر">
            <div *ngIf="addDriver.controls.password.errors?.['required']" class="text-red">
                ادخل كلمة السر
            </div>
            <div *ngIf="addDriver.controls.password.errors?.['minlength']" class="text-red">
                كلمة السر يجب ألا تقل عن 6 حروف
            </div>
        </div>
        <div class="mb-3">
            <label for="licenseNo" class="form-label">رقم رخصة السائق</label>
            <input type="text" name="licenseNo" formControlName="licenseNo" class="form-control" id="licenseNo"
                placeholder="ادخل رقم رخصة السائق">
            <div *ngIf="addDriver.controls.licenseNo.errors?.['required']" class="text-red">
                ادخل رقم رخصة السائق
            </div>
        </div>
        <div class="mb-3">
            <label for="licenseImg" class="form-label">صورة رخصة السائق</label>
            <input type="file" name="licenseImg" formControlName="licenseImg" class="form-control" id="licenseImg">
            <div *ngIf="addDriver.controls.licenseImg.errors?.['required']" class="text-red">
                قم برفع صورة رخصة السائق
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">البريد الإلكتروني للسائق</label>
            <input type="email" name="email" formControlName="email" class="form-control" id="email"
                placeholder="ادخل البريد الإلكتروني للسائق">
            <div *ngIf="addDriver.controls.email.errors?.['required']" class="text-red">
                ادخل بريد إلكتروني
            </div>
            <div *ngIf="addDriver.controls.email.errors?.['email']" class="text-red">
                ادخل بريد إلكتروني صحيح
            </div>
        </div>
        <div class="mb-3">
            <label for="passportId" class="form-label">رقم الباسبورد</label>
            <input type="text" name="passportId" formControlName="passportId" class="form-control" id="passportId"
                placeholder="ادخل رقم الباسبورد للسائق">
            <div *ngIf="addDriver.controls.passportId.errors?.['required']" class="text-red">
                ادخل رقم الباسبورد
            </div>
        </div>
        <div class="mb-3">
            <label for="ownerCode" class="form-label">كود مالك السيارة</label>
            <input type="ownerCode" name="ownerCode" formControlName="ownerCode" class="form-control" id="ownerCode"
                placeholder="ادخل كود مالك السيارة">
            <div *ngIf="addDriver.controls.ownerCode.errors?.['required']" class="text-red">
                ادخل كود مالك السيارة
            </div>
        </div>
        <div class="col-3">
            <button (click)="submitDriver()" class="btn btn-primary btn-block">إضافة سائق</button>
        </div>
    </form>
    <form [formGroup]="addCar" *ngIf="showCarDetails">
        <div class="mb-3">
            <label for="carPlateNumber" class="form-label">رقم لوحة السيارة</label>
            <input type="text" name="carPlateNumber" formControlName="carPlateNumber" class="form-control"
                id="carPlateNumber" placeholder="ادخل رقم لوحة السيارة">
            <div *ngIf="addCar.controls.carPlateNumber.errors?.['required']" class="text-red">
                ادخل رقم لوحة السيارة
            </div>
        </div>
        <div class="mb-3">
            <label for="imgCarNumber" class="form-label">صورة لوحة السيارة</label>
            <input type="file" name="imgCarNumber" formControlName="imgCarNumber" class="form-control"
                id="imgCarNumber">
            <div *ngIf="addCar.controls.imgCarNumber.errors?.['required']" class="text-red">
                قم برفع صورة لوحة السيارة
            </div>
        </div>
        <div class="mb-3">
            <label for="licenseNumber" class="form-label">رقم رخصة السيارة</label>
            <input type="text" name="licenseNumber" formControlName="licenseNumber" class="form-control"
                id="licenseNumber" placeholder="ادخل رقم رخصة السيارة">
            <div *ngIf="addCar.controls.licenseNumber.errors?.['required']" class="text-red">
                ادخل رقم رخصة السيارة
            </div>
        </div>
        <div class="mb-3">
            <label for="imglicenseNumber" class="form-label">صورة رخصة السيارة</label>
            <input type="file" name="imglicenseNumber" formControlName="imglicenseNumber" class="form-control"
                id="imglicenseNumber">
            <div *ngIf="addCar.controls.imglicenseNumber.errors?.['required']" class="text-red">
                قم برفع صورة رخصة السيارة
            </div>
        </div>
        <div class="col-3">
            <button (click)="submitCar()" class="btn btn-primary btn-block">تسجيل رحلة جديدة</button>
        </div>
    </form>
    <div *ngIf="showQRCode">
        <button class="btn btn-primary" (click)="getQrReady()">
            تحميل الكارت
        </button>
    </div>
    <div id="Qr">
        <qrcode #qrCode [elementType]="'img'" [errorCorrectionLevel]="'M'" [qrdata]="qrText" [scale]="1" [width]="375"
            [allowEmptyString]="true" [colorDark]="'#000000ff'" [colorLight]="'#ffffffff'"
            (qrCodeURL)="onChangeURL($event)" [margin]="4" hidden>
        </qrcode>
        <img id="entryCard" src="assets/img/EntryCard.jpg" alt="background" width="1080" height="719" hidden />
        <canvas #myCanvas width="1080" height="719" style="border:1px solid #d3d3d3;" hidden></canvas>
    </div>
</div>