<div class="row">
  <!-- Left col -->
  <section class="col-lg-12 connectedSortable">
    <!-- Custom tabs (Charts with tabs)-->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-address-card mr-1"></i>
          اضافة السائقين
        </h3>
        <!--<div class="card-tools">
          <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#newEmployees" data-toggle="tab">New Employees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#addOne" data-toggle="tab">Add</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#addExcel" data-toggle="tab">Add by excel sheet</a>
            </li>
          </ul>
        </div>-->
      </div><!-- /.card-header -->
      <div class="card-body">
        <div class="tab-content p-0">
          <!-- Morris chart - Sales -->
          <!--<div class="chart tab-pane active" id="newEmployees" style="position: relative; height: 300px;">
              <p>employees</p>
          </div>-->
          <div style="position: relative">
            <div>
              <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
                <!--<input type="hidden" id="Id" name="Id" ngModel #Id="ngModel" value="0" />-->
                <div class="row">
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="empCode">رقم السائق<span class="text-danger">*</span></label>
                      <input [ngClass]="{'form-control':true, 'is-invalid':empCode.errors && (empCode.dirty || empCode.touched || employeeForm.submitted)}" id="empCode" name="empCode" ngModel #empCode="ngModel" required />
                      <small *ngIf="empCode.errors && (empCode.dirty || empCode.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="firstName">الأسم الاول<span class="text-danger">*</span></label>
                      <input [ngClass]="{'form-control':true, 'is-invalid':firstName.errors && (firstName.dirty || firstName.touched || employeeForm.submitted)}" id="firstName" name="firstName" ngModel #firstName="ngModel" required />
                      <small *ngIf="firstName.errors && (firstName.dirty || firstName.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="secondName">الأسم الثاني</label>
                      <input [ngClass]="{'form-control':true}" id="secondName" name="secondName" ngModel #secondName="ngModel" />
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="lastName">الاسم الاخير<span class="text-danger">*</span></label>
                      <input [ngClass]="{'form-control':true, 'is-invalid':lastName.errors && (lastName.dirty || lastName.touched || employeeForm.submitted)}" id="lastName" name="lastName" ngModel #lastName="ngModel" required />
                      <small *ngIf="lastName.errors && (lastName.dirty || lastName.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="genderId">الجنس<span class="text-danger">*</span></label>
                      <select [ngClass]="{'form-control':true, 'custom-select':true, 'is-invalid':genderId.errors && (genderId.dirty || genderId.touched || employeeForm.submitted)}" id="genderId" name="genderId" ngModel #genderId="ngModel" required>
                        <option selected disabled value="" i18n>--Select--</option>
                        <option *ngFor="let e of genders" value="{{e.id}}">
                          {{e.name}}
                        </option>
                      </select>
                      <small *ngIf="genderId.errors && (genderId.dirty || genderId.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="mobile1">رقم الهاتف 1<span class="text-danger">*</span></label>
                      <input [ngClass]="{'form-control':true, 'is-invalid':mobile1.errors && (mobile1.dirty || mobile1.touched || employeeForm.submitted)}" id="mobile1" name="mobile1" ngModel #mobile1="ngModel" required />
                      <small *ngIf="mobile1.errors && (mobile1.dirty || mobile1.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="mobile2">رقم الهاتف 2</label>
                      <input [ngClass]="{'form-control':true}" id="mobile2" name="mobile2" ngModel #mobile2="ngModel" />
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="email">الايميل<span class="text-danger">*</span></label>
                      <input [ngClass]="{'form-control':true, 'is-invalid':email.errors && (email.dirty || email.touched || employeeForm.submitted)}" id="email" name="email" ngModel #email="ngModel" required />
                      <small *ngIf="email.errors && (email.dirty || email.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="birthDate">تاريخ الميلاد</label>
                      <input type="date" [ngClass]="{'form-control':true}" id="birthDate" name="birthDate" ngModel #birthDate="ngModel" />
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="maritalStatusId">رقم الرخصة</label>
                      <select class="form-control custom-select" id="maritalStatusId" name="maritalStatusId" ngModel #maritalStatusId="ngModel">
                        <option selected disabled value="" i18n>--Select--</option>
                        <option *ngFor="let e of maritalStatuses " value="{{e.id}}">
                          {{e.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="militaryStatusId">نوع الرخصة</label>
                      <select class="form-control custom-select" id="militaryStatusId" name="militaryStatusId" ngModel #militaryStatusId="ngModel">
                        <option selected disabled value="" i18n>--Select--</option>
                        <option *ngFor="let e of militaryStatuses " value="{{e.id}}">
                          {{e.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="nationalID">رقم القومي</label>
                      <input (keypress)="allowNumbersOnly($event)" [minlength]="14" [maxlength]="14" [ngClass]="{'form-control':true, 'is-invalid':nationalID.errors && (nationalID.dirty || nationalID.touched || employeeForm.submitted)}" id="nationalID" name="nationalID" ngModel #nationalID="ngModel" />
                      <small *ngIf="(nationalID.errors && (nationalID.errors.minlength || nationalID.errors.maxlength)) && (nationalID.dirty || nationalID.touched || employeeForm.submitted)" class="text-danger">National ID must be 14 digits!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="region">العنوان</label>
                      <input [ngClass]="{'form-control':true}" id="region" name="region" ngModel #region="ngModel" />
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="graduationId">الشركة<span class="text-danger">*</span></label>
                      <select [ngClass]="{'form-control':true, 'custom-select':true, 'is-invalid':graduationId.errors && (graduationId.dirty || graduationId.touched || employeeForm.submitted)}" id="graduationId" name="graduationId" ngModel #graduationId="ngModel" required>
                        <option selected disabled value="" i18n>--Select--</option>
                        <option *ngFor="let e of graduations" value="{{e.id}}">
                          {{e.name}}
                        </option>
                      </select>
                      <small *ngIf="graduationId.errors && (graduationId.dirty || graduationId.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="qualification">نوع السيارة</label>
                      <input [ngClass]="{'form-control':true}" id="qualification" name="qualification" ngModel #qualification="ngModel" />
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="hiringDate">تاريخ التعين</label>
                      <input type="date" [ngClass]="{'form-control':true}" id="hiringDate" name="hiringDate" ngModel #hiringDate="ngModel" />
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="hiringStatusId">نوع التعين<span class="text-danger">*</span></label>
                      <select [ngClass]="{'form-control':true, 'custom-select':true, 'is-invalid':hiringStatusId.errors && (hiringStatusId.dirty || hiringStatusId.touched || employeeForm.submitted)}" id="hiringStatusId" name="hiringStatusId" ngModel #hiringStatusId="ngModel" required>
                        <option selected disabled value="" i18n>--Select--</option>
                        <option *ngFor="let e of hiringStatuses" value="{{e.id}}">
                          {{e.name}}
                        </option>
                      </select>
                      <small *ngIf="hiringStatusId.errors && (hiringStatusId.dirty || hiringStatusId.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="jobId">الوظيفة<span class="text-danger">*</span></label>
                      <select [ngClass]="{'form-control':true, 'custom-select':true, 'is-invalid':jobId.errors && (jobId.dirty || jobId.touched || employeeForm.submitted)}" id="jobId" name="jobId" ngModel #jobId="ngModel" required>
                        <option selected disabled value="" i18n>--اختار--</option>
                        <option *ngFor="let e of jobs" value="{{e.id}}">
                          {{e.name}}
                        </option>
                      </select>
                      <small *ngIf="jobId.errors && (jobId.dirty || jobId.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="titleId">Title<span class="text-danger">*</span></label>
                      <select [ngClass]="{'form-control':true, 'custom-select':true, 'is-invalid':titleId.errors && (titleId.dirty || titleId.touched || employeeForm.submitted)}" id="titleId" name="titleId" ngModel #titleId="ngModel" required>
                        <option selected disabled value="" i18n>--أختار--</option>
                        <option *ngFor="let e of titles" value="{{e.id}}">
                          {{e.name}}
                        </option>
                      </select>
                      <small *ngIf="titleId.errors && (titleId.dirty || titleId.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="departmentId">نوع القسم <span class="text-danger">*</span></label>
                      <select [ngClass]="{'form-control':true, 'custom-select':true, 'is-invalid':departmentId.errors && (departmentId.dirty || departmentId.touched || employeeForm.submitted)}" id="departmentId" name="departmentId" ngModel #departmentId="ngModel" required>
                        <option selected disabled value="" i18n>--Select--</option>
                        <option *ngFor="let e of departments" value="{{e.id}}">
                          {{e.name}}
                        </option>
                      </select>
                      <small *ngIf="departmentId.errors && (departmentId.dirty || departmentId.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="employeeTypeId">Employee Type</label>
                      <select class="form-control custom-select" id="employeeTypeId" name="employeeTypeId" ngModel #employeeTypeId="ngModel">
                        <option selected disabled value="" i18n>--Select--</option>
                        <option *ngFor="let e of employmentTypes" value="{{e.id}}">
                          {{e.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="vendorId">الشركة المطلوبة</label>
                      <select class="form-control custom-select" id="vendorId" name="vendorId" ngModel #vendorId="ngModel">
                        <option selected disabled value="" i18n>--Select--</option>
                        <option *ngFor="let e of vendors" value="{{e.id}}">
                          {{e.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="batch">Batch<span class="text-danger">*</span></label>
                      <input type="number" [ngClass]="{'form-control':true, 'is-invalid':batch.errors && (batch.dirty || batch.touched || employeeForm.submitted)}" id="batch" name="batch" ngModel #batch="ngModel" required />
                      <small *ngIf="batch.errors && (batch.dirty || batch.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="serviceDays">عدد ايام الدخول<span class="text-danger">*</span></label>
                      <input type="number" [ngClass]="{'form-control':true, 'is-invalid':serviceDays.errors && (serviceDays.dirty || serviceDays.touched || employeeForm.submitted)}" id="serviceDays" name="serviceDays" ngModel #serviceDays="ngModel" required />
                      <small *ngIf="serviceDays.errors && (serviceDays.dirty || serviceDays.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="annualLeavesBalance">Annual Leaves Balance<span class="text-danger">*</span></label>
                      <input type="number" [ngClass]="{'form-control':true, 'is-invalid':annualLeavesBalance.errors && (annualLeavesBalance.dirty || annualLeavesBalance.touched || employeeForm.submitted)}" id="annualLeavesBalance" name="annualLeavesBalance" ngModel #annualLeavesBalance="ngModel" required />
                      <small *ngIf="annualLeavesBalance.errors && (annualLeavesBalance.dirty || annualLeavesBalance.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="casualBalance">Casual Balance<span class="text-danger">*</span></label>
                      <input type="number" [ngClass]="{'form-control':true, 'is-invalid':casualBalance.errors && (casualBalance.dirty || serviceDays.touched || employeeForm.submitted)}" id="casualBalance" name="casualBalance" ngModel #casualBalance="ngModel" required />
                      <small *ngIf="casualBalance.errors && (casualBalance.dirty || casualBalance.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                      <label for="sickBalance">Sick Balance<span class="text-danger">*</span></label>
                      <input type="number" [ngClass]="{'form-control':true, 'is-invalid':sickBalance.errors && (sickBalance.dirty || sickBalance.touched || employeeForm.submitted)}" id="sickBalance" name="sickBalance" ngModel #sickBalance="ngModel" required />
                      <small *ngIf="sickBalance.errors && (sickBalance.dirty || sickBalance.touched || employeeForm.submitted)" class="text-danger">Required!</small>
                    </div>
                  </div>
                  <!--<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="form-group">
      <label for="assignedToId">Assigned Reqruiter<span class="text-danger">*</span></label>
      <input [ngClass]="{'form-control':true, 'is-invalid':assignedToId.errors && (assignedToId.dirty || assignedToId.touched || employeeForm.submitted)}" id="assignedToId" name="assignedToId" ngModel #assignedToId="ngModel" required />
      <small *ngIf="assignedToId.errors && (assignedToId.dirty || assignedToId.touched || employeeForm.submitted)" class="text-danger">Required!</small>
    </div>
  </div>-->
                </div>
                <div class="row">
                  <div class="col-12 pull-right">
                    <input class="btn btn-primary float-right" type="submit" value="Add" />
                    <span class="float-right text-white">..</span>
                    <input class="btn btn-default float-right" type="reset" value="Cancel" />
                  </div>
                </div>
              </form>


            </div>

             <div class="row">
              <!-- <p>{{employeeForm.value|json}}</p> -->
               <p>{{empCode.value}}</p>
              <hot-table [hotId]="id" class="hot handsontable htColumnHeaders" id="hot" style="width:100%"
                         [data]="dataset"
                         [colHeaders]="true"
                         [rowHeaders]="true"
                         [allowInsertRow]="true"
                         [allowInsertColumn]="true"
                         [autoWrapRow]="true"
                         [manualRowResize]="true"
                         [manualColumnResize]="true"
                         [manualRowMove]="true"
                         [manualColumnMove]="true"
                         [contextMenu]="true"
                         [filters]="true"
                         height="40vh"
                         dropdownMenu="true"
                         stretchH="all"
                         licenseKey="non-commercial-and-evaluation">
                <hot-column data="Id" title="ID" type="numeric"></hot-column>
                <hot-column data="FirstName" title="First Name"></hot-column>
                <hot-column data="SecondName" title="Second Name"></hot-column>
                <hot-column data="LastName" title="Second Name"></hot-column>
                <hot-column data="Mobile01" title="Mobile1"></hot-column>
                <hot-column data="Mobile02" title="Mobile2"></hot-column>
                <hot-column data="BirthDay" title="Birth Day" type="date" dateFormat="YYYY-MM-DD"></hot-column>
                <hot-column data="Age" title="Age" type="numeric"></hot-column>
                <hot-column data="Gender" title="Gender" type="dropdown" source="['Male', 'Female']"></hot-column>
                <hot-column data="MaritalStatus" title="Marital Status" type="dropdown" source="['أعزب', 'متزوج', 'مطلق', 'أرمل']"></hot-column>
                <hot-column data="MilitaryStatus" title="Military Status" type="dropdown" source="['غير مطلوب', 'مؤجل', 'مطلوب']"></hot-column>
                <hot-column data="NationalID" title="National ID"></hot-column>
                <hot-column data="Region" title="Region"></hot-column>
                <hot-column data="Graduated" title="Graduated"></hot-column>
                <hot-column data="Qualification" title="Qualification"></hot-column>
                <hot-column data="AssignedReqruiter" title="Assigned Reqruiter"></hot-column>
                <hot-column data="Vendor" title="Vendor"></hot-column>
              </hot-table>
              <!-- <div id="hot" class="hot handsontable htRowHeaders htColumnHeaders" style="width:100%"></div>
              <hot-table [hotId]="id" class="hot handsontable htColumnHeaders" id="hot" style="width:100%"
                         [data]="dataset" [settings]="tableSettings" licenseKey="non-commercial-and-evaluation">
              </hot-table>-->
              <div class="row">
                <div class="col-12 pull-right">
                  <input class="btn btn-primary float-right" type="button" (click)="saveEmployees()" value="Save" />
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="chart tab-pane" id="addExcel" style="position: relative; height: 300px;">
            <p>{{employeeForm.value|json}}</p>
          </div> -->
        </div>
      </div>
    </div>

  </section>

</div>

