
<div class="row">
  <section class="col-lg-12 connectedSortable">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Request Leave</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <!--<button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>-->
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive">
        <form #leaveForm="ngForm" (ngSubmit)="saveLeave(leaveForm)" ngNativeValidate>
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
              <div class="form-group">
                <label>For</label>
                <select class="form-control custom-select" id="employeeId" name="employeeId"
                        ngModel #employeeId="ngModel">
                  <option selected value="{{data.EmpId}}">Me</option>
                  <ng-container *ngIf="data.isUserOfficer">
                    <option *ngFor="let e of employees" [attr.disabled]="1!=1 ? '' : null" value="{{e.id}}">
                      {{e.firstName + ' ' + e.secondName + ' ' + e.lastName}}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
              <div class="form-group">
                <label for="leaveTypeId">Leave Type<span class="text-danger">*</span></label>
                <select [ngClass]="{'form-control':true, 'custom-select':true, 'is-invalid':leaveTypeId.errors
                        && (leaveTypeId.dirty || leaveTypeId.touched || leaveForm.submitted)}"
                        id="leaveTypeId" name="leaveTypeId" ngModel
                        #leaveTypeId="ngModel" required>
                  <option selected disabled value="" i18n>--Select--</option>
                  <option *ngFor="let e of leavesTypes" value="{{e.id}}">
                    {{e.name}}
                  </option>
                </select>
                <small *ngIf="leaveTypeId.errors && (leaveTypeId.dirty || leaveTypeId.touched || leaveForm.submitted)"
                       class="text-danger">Required!</small>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
              <div class="form-group">
                <label for="startDate">Start Date</label>
                <input (change)="calculateNumberOfDays(leaveForm, numberOfDays)" type="date" [ngClass]="{'form-control':true, 'is-invalid':startDate.errors
                       && (startDate.dirty || startDate.touched || leaveForm.submitted)}"
                       id="startDate" name="startDate" #startDate="ngModel"
                       [ngModel]="leaveForm.startDate | date:'yyyy-MM-dd'"
                       (ngModelChange)="leaveForm.startDate = $event" required />
                <small *ngIf="startDate.errors && (startDate.dirty || startDate.touched || leaveForm.submitted)"
                       class="text-danger">Required!</small>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
              <div class="form-group">
                <label for="endDate">End Date</label>
                <input (change)="calculateNumberOfDays(leaveForm, numberOfDays)" type="date" [ngClass]="{'form-control':true, 'is-invalid':endDate.errors
                       && (endDate.dirty || endDate.touched || leaveForm.submitted)}"
                       id="endDate" name="endDate" #endDate="ngModel"
                       [ngModel]="leaveForm.endDate | date:'yyyy-MM-dd'"
                       (ngModelChange)="leaveForm.endDate = $event" required />
                <small *ngIf="endDate.errors && (endDate.dirty || endDate.touched || leaveForm.submitted)"
                       class="text-danger">Required!</small>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
              <div class="form-group">
                <label for="numberOfDays">Number Of Days<span class="text-danger">*</span></label>
                <input type="number" [ngClass]="{'form-control':true, 'is-invalid':numberOfDays.errors && (numberOfDays.dirty || numberOfDays.touched || numberOfDays.submitted)}" id="numberOfDays" name="numberOfDays" ngModel #numberOfDays="ngModel" required />
                <small *ngIf="numberOfDays.errors && (numberOfDays.dirty || numberOfDays.touched || leaveForm.submitted)" class="text-danger">Required!</small>
              </div>
            </div>
          </div>
          <div class="row">
            <input type="submit" class="btn btn-primary" />
            <!--<input type="button" value="openm" class="btn btn-primary" (click)="openM()" />-->
          </div>
        </form>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">

      </div>
      <!-- /.card-footer-->
    </div>
  </section>
  <!-- /.col-md-6 -->
</div>
